/* body{
    display:flex;
    background-color:#004E64;
    color:white;
    align-items:center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#app{
    display:flex;
    align-items: center;
    flex-direction: column;
}

#inputLocation{
    height:30px;
    width:70%;
    margin:10px;
    font-size: 150%;
    color:#004E64;
}

#button{
    height:60px;
    width: 60px;
    background-color: white;
    border-style:solid;
    border-width:5px;
    border-color: #5bc0be;
    border-radius: 50%;
    font-size: 150%;
    color: #5bc0be;
}

#display{
    height:200px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    align-self: center;
    margin-top:20px;
} */
